[Unit]
Description=Sytadin Data Service
After=network-online.target

[Service]
ExecStart=/usr/local/bin/commutator-sytadin
Restart=on-failure

[Install]
WantedBy=multi-user.target
